<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GARBA APP</title>
    <link rel="stylesheet" href="css/stylepage.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <script type="text/javascript" src="js/chanelle.js"></script>

</head>
<body ng-app="demo" class="row">
    <div id="main" class="col-md-8 col-lg-offset-2 " class="row">
        <section class="col-md-12">
            <h1>bandeau</h1>
        </section>

        <section ng-controller="gaucheCtrl" class="col-md-3 three-col">
            <h2>Ingrédients</h2>
            <div ng-repeat="ing in ingredients" class="ingredient">
                <a href="#">{{ing.nom}}</a>
                <span class="hidden">{{ing.prix}} Fcfa</span>
            </div>
        </section>

        <section class="col-md-7 three-col">
            <h1>milieu</h1>
            <div class="controls row">
                <input type="button" class="col-md-5 btn btn-danger " value="Annuler"/>
                <input type="button" class="col-md-offset-2 col-md-5 btn btn-success " value="Commander"/>
            </div>
        </section>

        <section class="col-md-2 three-col" ng-controller="droitCtrl">
            <h2>Net à payer</h2>
            <div class="nap">
                {{totalcmde}} Fcfa
            </div>
            <div class="numcmde">
                <span>Commande N°</span>
                <strong>#{{numerocomde}}</strong>
            </div>
        </section>

        <section class="col-md-12">
            <h1>pied</h1>
            <input ng-model="totalcmde">
        </section>
    </div>
</body>
</html>